<h1> Tasks </h1>

<table>
<% @tasks.each do |task| %>
<tr>
<td><%= task.name %></td>
<td><%= task.due_date %></td>
</tr>
<% end %>
</table>

<table>
<% @tasks.each do |task| %>
    <% if task.due_date == Date.today %>
    <tr>
    <td><%=task.name%></td>
    <td><%= task.due_date.strftime("%m/%d") %></td>
    </tr>
  <% end %>
  <% end %>
</table>