<div class="btn-group-vertical mt-2 ms-2">
    <a href="/categories/dashboard" class="btn btn-primary custom">Dashboard</a>
    <a href="/categories/new" class="btn btn-primary custom">Create Project</a>
    <a href="/categories" class="btn btn-primary custom">Projects</a>
  </div>