<div class="container-fluid">
    <div class="row">
        <div class="col-md-4 ms-4">
            <%= image_tag("animatedhome.svg", size: "500x500") %>
        </div>
        <div class="col-md-5 mt-5">
            <div style="font-size:50px">Welcome to<h1 class="ms-5" style="font-size:80px">MyProj-<i class="fas fa-check-circle"></i></h1>
            </div>
            <div class="d-grid col-4 mx-5">
                <%= link_to "Get started", new_user_registration_path, class: "btn btn-dark btn-outline-warning" %>
            </div>
        </div>
    </div>
</div>