/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require bootstrap
 *= require_tree .
 *= require_self
@import "font-awesome-sprockets";
@import "font-awesome";
@import "../node_modules/bootswatch/dist/sketchy/variables";
@import "../node_modules/bootstrap/scss/bootstrap";
@import "../node_modules/bootswatch/dist/sketchy/bootswatch";
 */
 .custom {
    width: 150px !important;
}
.custom2 {
    width: 200px !important;
    height: 210px !important;
}
.custom3 {
    height: 210px !important;
    width: 500px !important;
}
.custom4 {
    width: 470px !important;
    height: 210px !important;
}
.custom4-5 {
    width: 470px !important;
}
.custom5 {
    height: 210px !important;
}
.custom6 {
    width: 500px !important;
    height: 200px;
}

// .alert-dismissible {
//     padding-left: $close-font-size + $alert-padding-x * 2;
//   }

// a:link { text-decoration: none; }
// a:visited { text-decoration: none; }
// a:hover { text-decoration: none; }
// a:active { text-decoration: none; }